header{
    background-color: rgb(117, 117, 117);
    text-align: center;
    padding: 20px 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: rgb(88, 8, 8);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.caixa {
    position: relative ;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

.logo {
    width: 250px;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px o;
}

.produtos li {

    display: inline-block;
    text-align: center;
     width: 30%;
    vertical-align: top;
    margin: 0 1;
    box-shadow:border-box;
    border: 2px solid black   
}
.produtos h2 {

    font: size 30px;
    font-weight: bold;
} 

.produto-descricao {
    
    font-size: 18px;
    font-weight: 12;
}

.produtos-preco {

    font-size: 22px;
    font-weight:bold;
    margin-top: 18px;
}
nav a:hover {
    color: blue;
    text-decoration: blue;
}

.produto-li:hover {
    border-color: aqua;
}

.produtos li:active {
    border-color: bisque;
}

